body {
  background-color: #ffd78a;
  font-family: sans-serif;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.date {
  font-size: 25px;
}
.container {
  margin: 0 auto;
  padding-top: 50px;
}
input {
  font-size: 1.2em;
}

p:hover {
  background-color: rgb(125, 174, 197);
}
