body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  box-sizing: content-box;
  background-image: url(sky.jpg);
  color: #5af583;
}
.container {
  margin: 0 auto;
  border: 2px solid #5af583;
  padding: 100px 100px;
  color: #eb7b12;
  font-weight: 700;
}
